
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Entities.Concrete
@{
    ViewData["Title"] = "Tarifler";
    Layout = "_Layout";
}
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 m-2 fst-italic fs-5 fw-bold ">
                        <li class="nav-item" >
                            <a class="nav-link " asp-area="" asp-controller="Tarifs" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="top" title="Anasayfa">Tarifler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Categories" asp-action="Index"data-bs-toggle="tooltip" data-bs-placement="top" title="Kategoriler">Kategoriler</a>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="YemekTarifler" asp-action="Tarifler"data-bs-toggle="tooltip" data-bs-placement="top" title="Kategoriler">Tarif Görüntüle</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="text-center mb-5">
	<h1 class="display-4">Kategori Bölümü</h1>

</div>
<a id="addVehicle" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#Add">
	Yeni Kategori Ekle
</a>
<table class="table table-bordered table-hover " id="tblUser">
	<thead>
		<tr class="table-dark col-8">
			<th scope="col">#</th>
			
			<th scope="col">CategoryName</th>
			

			<th scope="col">Aksiyon</th>

		</tr>
	</thead>
	<tbody>
		@{
			var i = 0;
		}
		@foreach (Category item in @ViewBag.categories)
		

		{
		
			<tr>
				<td>@(++i)</td>
				
				<td>@item.Name	</td>
			
			
				<td>
					<a id="btnEdit" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#MyPopup" data-id="@item.Id">
						Güncelle
					</a>
					<a id="btndelete" data-bs-toggle="modal" onclick="sendDelete(@item.Id)" data-bs-target="#sil" class="btn btn-danger" data-id="@item.Id">
						Sil
					</a>
				</td>


			</tr>
		}


	</tbody>

</table>


<div class="modal fade" id="sil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Silme İşlemi</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Silmek İstediğinize Emin misiniz?
			</div>
			<div class="modal-footer">
				<form action="/Categories/Delete" method="post">
					<button type="button" class="btn btn-success" data-bs-dismiss="modal">Hayır</button>
					<input type="hidden" id="deleted" name="id" />
					<button type="submit" class="btn btn-danger">Evet</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Kategori</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="addForm" method="post" action="/Categories/Add">
					<div class="mb-3">
						<label class="form-label">kategori ismi</label>
						<input type="text" name="Name"  class="form-control">
					</div>
					

					<button type="submit" class="btn btn-success  col-md-3" id="button">Ekle</button>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="MyPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Tarif Bilgilerini Güncelle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="addForm" method="post" action="/Categories/Update">
					<div class="mb-3">
						<label class="form-label">Kategori İsmi</label>
						<input type="text" name="Name" id="name" class="form-control">
					</div>
					
					<input type="hidden" id="id" name="Id" />
					<button type="submit" class="btn btn-success  col-md-3">Güncelle</button>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>



				<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	function sendDelete(id) {
	
		$("#deleted").val(id);
	}
	$(document).ready(function() {
		$('table .edit').on('click', function() {
			var id = $(this).data("id");
   //         console.log(id);
			//$("#MyPopup #id").val(id);
			$.ajax({
				type: 'Get',
				url: "/Categories/Get/" + id,
			
				success: function(response) {
				
				
					console.log(response);

					$("#MyPopup #id").val(response.data.id);
					$('#name').attr('value', response.data.name);
				
					
				}
			});
		});
	});
</script>